@media(max-width: 1000px){
    .container-right{
        display: none;
    }
    .principal-section .container{
        justify-content: center;
    }
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
    .footer-nav a{
        color: var(--color-bluedark);
        font-weight: bold;
        font-size: 12px;        
        margin:0 20px 10px 0;
    }
    .footer-nav{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .footer{
        text-transform: uppercase;
        padding: 38px 20px;
        color: var(--color-graytext);
        font-weight: bold;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        max-width: 1012px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
@media (max-width: 875px) {
    .footer{
        text-align: center;
    }
    .footer-nav{
        justify-content: center;
        margin: 0 auto;
        max-width: 360px;
        width: 100%;
    }
}

}
@media (max-width: 500px){
    .explorer-input{
        display: none;
    }
}