:root{
    --color-white: #FFF;
    --color-gray: #DBDBDB;
    --color-graylight: #FAFAFA;
    --color-graytext: #8E8E8E;
    --color-bluelight: #0095F6;
    --color-bluedark: #00376b;
    --color-celest: #C2DBFB;
    --color-black: #000;
}
*  {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-graylight);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
i{
    color: var(--color-black);
}
textarea {
    outline: 0;
    font-size: 14px;
    resize: none;
    overflow: auto;
}
a{
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
}
button{
    border: 0;
    background-color: transparent;
}
button:focus{
    outline: none;
}
.mobile{
    display: none;
}
.text-gray {
    color: var(--color-graytext);
}
.m-vertical-sm {
    margin: 8px 0;
}
.borde-degradado{
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(45deg, #fff, #fff), linear-gradient(45deg, #FA9E4C, #C85090 );  
}
.borde-gris{
    border: 2px solid var(--color-gray);
}
.circular {
    border-radius: 50%;
    overflow: hidden;
}
.card {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 3px;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: var(--color-white);
    height: 53px;
    border: 1px solid var(--color-gray);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    justify-content: space-between; 
    flex-shrink: 0;
    align-items: center;
    z-index: 1;
}
.header .navigator{
    justify-self: flex-end;
}
.header .navigator-list{
    display: flex;
    flex-direction: row;
    width: 198px;
    justify-content: space-between;
}
.header .navigator-list-item{
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    list-style: none;
    height: 28px;
    width: 28px;
}
.header .navigator-list-item a{
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-size: 22px;
}
.logo{
    display: flex;
    align-items: flex-end;
    height: 36px;
    width: auto;
    margin-left: 10px;
}

.explorer-input{
    background-color: var(--color-graylight);
    border: 1px solid var(--color-gray);
    width: 199px;
    height: 12px;
    border-radius: 3px;
    padding: 7px;
}
.principal-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news{
    margin-top: 83px;
    max-width: 614px;
    width: 100%;
}
.publication{
    margin-bottom: 60px;
}
.publication-header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.publication-header a i{
    font-size: 16px;
}
.publication-header-acount{
    display: flex;
    align-items: center;
}

.publication-header-name {
    margin-left: 10px;
}

.publication-header-acount img{
    border-radius: 52px;
    width: 32px;
    height: 32px;
}
.publication-content{
    position: relative;
}
.publication-content_source{
    width: 100%;
}
.publication-content_button{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}
.publication-content_button i{
    color: white;
    font-size: 60px;
}

.publication-footer-icons{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 4px;
}
.publication-footer-icons a{
    padding: 8px;
    font-size: 24px; 
}
.publication-footer-information{
    padding: 0 16px;
}
.publication-footer-information-date{
    font-weight: 100;
    font-size: 10px;
}

.publication-form{
    border-top: 1px solid var(--color-gray);
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-top: 4px;
    min-height: 56px;
}

.publication-form_textarea{
    border: 0;
    background-color: transparent;
}
.publication-form_textarea{
    width: 100%;
    max-height: 80px;
}
.publication_form_button{
    color: var(--color-celest);
    font-weight: bold;
    padding-right: 10px;
}
.container-right{
    position: sticky;
    top: 85px;
    bottom: 1px;
    width: 293px;
    height: 666px;
    font-weight: bold;
}
.

.profile-information img{
    width: 50px; 
    height: 50px;
    padding: 3px;
}
.profile-information p{
    font-size: 12px;
    font-weight: 100;
    margin-left: 14px;
}
.profile-information a{
    font-size: 14px;
}

.stories {
    overflow-x: auto;
    margin-bottom: 24px;
}
.stories::-webkit-scrollbar{
    display: none;
}
.irelevant-text{
    font-weight: 100;
    font-size: 12px;
}

.friends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    margin-top: 12px;
}
.friends-header a{
    font-size: 12px;
}

.friends-content{
    margin-left: 14px;
    overflow: auto;
    margin-top: 8px;
}
.stories-content{
    display: flex;
    flex-direction: row;
    height: 82px;
    padding: 16px 0;
    list-style: none;
}
.stories-content a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
}
.stories-content p{
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.stories-content div{
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    padding: 3px;
}
.stories-content img{
    height: 100%;
    width: 100%;
}
.storie{
    padding: 0 4px;
    min-width: 10px;
    flex-shrink: 0;
}
.friend p{
    margin: 0;
    font-weight: 100;
    color: var(--color-black);
    margin-left: 14px;
    font-size: 10px;
}
.friend a{
    font-size: 14px;
}

.friends{
    height: 197px;
    margin: 12px 0;
}
.friend{
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}
.friend-left{
    display: flex;
    align-items: center;
}
.friend p{
    margin: 0;
    margin-left: 14px;
    font-size: 12px;
}
.friend a img{
    width: 32px;
    height: 32px;
}

.friend button{
    color: var(--color-bluelight);
    font-weight: bold;
}

.friends-news{
    padding: 20px 0;
    margin-bottom: 60px;
}

.friends-news-header{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    margin-bottom: 12px;
}
.friends-more{
    color: var(--color-bluelight);
}
.friends-news-content{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    list-style: none;
    overflow: auto;
}
.friends-news-content::-webkit-scrollbar{
    display: none
}
.friend-news{
    position: relative;
    padding: 20px;
    width: 174px;
    height: 206px;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    align-content: space-between;
    text-align: center;
}

.delete-friend{
    position: absolute;
    right:0;
    top: 0;
    padding: 12px;
    font-size: 15px;
}
.delete-friend i{
    color: #D6D6D6;
}

.friend_img{
    width: 54px;
    height: 54px;
}

.friend-news_button--follow{
    background-color: var(--color-bluelight);
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 5px 0;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.friend-news_button--unfollow {
    width: 100%;
    color: black;
    border: 1px solid #ebebeb;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 0;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.container{
    max-width: 935px;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
}
.footer, .footer a{
    font-weight: 100;
    font-size: 11px;
    line-height: 20px;
}

.footer{
    padding-right: 25px;
}
.footer-nav{
    margin-bottom: 20px;
}
