body{
    margin: 0;
}
.header{
    display: flex;
    width: auto;
    height: 54px;
    border: 1px solid #DBDBDB;
    border-left: 0;
    border-right: 0;
    justify-content: space-between; 
    align-items: center;
    margin: 0;
}

.container{
    width:1000px;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;

}

